@import "bootstrap/scss/bootstrap";

#app {
    margin: 3rem auto;
}

.row.trade {
    margin-top: 3rem;
    margin-bottom: 4rem;

    border: 1px solid #999;
    border-radius: 5px;
    padding: 2rem;

    & .trade-type {
        font-size: 1.75rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    & .trade-volume {
        font-size: 1.75rem;
        font-weight: bold;

        @media (min-width: 768px) {
            text-align: right;
        }

        & .token {
            font-size: 1.15rem;
            font-weight: normal;
            text-transform: uppercase;
        }

        & .left::after {
            content: "\2192";
        }
    }

    & .meta {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;

            & div {
                padding: 0.5rem;
    
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    
    }
}